body {
  background-color: #fff;
}

h1 {
  font-size: 35px;
  margin-top: 120px;
  text-align: center;
  color: #000;
}

#cursor {
  font-size: 30px;
  font-weight: normal;
}

.submit-button {
  margin-top: 10px;
}

<video controls> 
   <source src="parrots-small.mp4" type="video/mp4" media="all and (max-width:480px)"> 
   <source src="parrots-small.webm" type="video/webm" media="all and (max-width:480px)"> 
   <source src="parrots.mp4" type="video/mp4"> 
   <source src="parrots.webm" type="video/webm"> 
</video>
