#testimonial {
  background-position: center center;
  width:100%;
  height: 500px;
  padding: 5%;
  -webkit-box-sizing: border-box;
  position:relative;
  color:#000;
  text-align:center;
}
.container-inf2 {
    width:92%;
    margin:0 auto;
}
#textslides {
  overflow: hidden;
  position: relative;
  width: 80%;
  height: 250px;
  margin:auto;
}

#textslides ul {
  list-style: none;
  width: 100%;
  height: 250px;
  margin: 0;
  padding: 0;
  position: relative;
  color:#000
}

#textslides li {
  width: 100%;
  height: 250px;
  float: left;
  text-align: center;
  position: relative;
  font-family: lato, sans-serif;
}
.btn-bar {
  width: 100%;
  display: block;
  position:relative;
  top:40%;
}

#buttons {
  padding: 0 0 5px 0;
}

#buttons a {
  text-align: center;
  display: block;
  font-size: 50px;
  outline: 0;
  color: #b14943;
  text-decoration: none;
  padding: 9px;
  width: 35px;

}
a#textprev {
  float:left;
}
a#textnext {
  float:right;
}
#textslides i {
  font-size:30px;
}
#textslides img {
  width:50px;
  height:50px;
  border-radius:50%;
  vertical-align:middle;
  float:left;
}
.mini {
  font-size:12px;
  font-style:italic;
  padding-top:10px;
}
.test {
  width: 180px;
  margin:5% auto;
}
